@{
    ViewData["Title"] = "Home";
}

<div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-md-6">
        <div class="card text-center">
            <div class="card-body">
                <h2 class="card-title mb-5">Stock Management</h2>
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <a asp-controller="Stores" asp-action="Index" class="btn btn-primary btn-lg mb-3">Stores</a>
                    </div>
                    <div class="col-md-4">
                        <a asp-controller="Items" asp-action="Index" class="btn btn-primary btn-lg mb-3">Items</a>
                    </div>
                    <div class="col-md-4">
                        <a asp-controller="Buy" asp-action="Index" class="btn btn-primary btn-lg mb-3">Buy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
